<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= title %></h1>
			<p>
				<a href="/home/category/create">Create A New Category</a>
			</p>

			<ul>
				<% for (var i = 0; i < category_list.length; i++) { %>
				<li class="timeline-yellow">
					<div class="timeline-time">
						<u>
							<b>
								<p><%= category_list[i].name %></p>
							</b>
						</u>
						<p><%= category_list[i].description %></p>
						<p>
							<a href="<%= category_list[i].url %>"
								>Go to detail</a
							>
						</p>
						<p>
							<a href="<%= category_list[i].url + '/update' %>"
								>Update Category</a
							>
						</p>
						<p>
							<a href="<%= category_list[i].url + '/delete' %>"
								>Delete Category</a
							>
						</p>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>

<%- include('footer') -%>
