<%- include('header') -%>

<div class="container">
	<div class="row">
		<div class="col">
			<img src="..." class="img-fluid" alt="Video Game Picture" />
		</div>

		<div class="col">
			<h1><%= item.name %></h1>
			<p>
				<b>Description</b>
				<%= item.description %>
			</p>
			<p>
				<b>Price: </b>
				<%= item.price %>
			</p>
			<p>
				<b>Stock: </b>
				<%= item.stock %>
			</p>
			<p><a href="#">Watch the trailer</a></p>
			<p>
				<a href="<%= item.url + '/update' %>">Update Item</a>
			</p>
			<p>
				<a href="<%= item.url + '/delete' %>">Delete Item</a>
			</p>
		</div>
	</div>
</div>

<%- include('footer') -%>
