<%- include('../layout/header') -%>

<div class="container" id="categoryDeleteContainer">
	<div class="row">
		<div class="col">
			<div class="textIntroContainer">
				<h1 class="title"><%= title %></h1>
			</div>
		</div>
	</div>

	<hr />

	<div class="categoryDeleteTextContainer">
		<h2>Going to delete: <%= category.name %></h2>
	</div>

	<%if (video_games.length) { %>
	<div>
		<p>
			<b>
				Delete the following video games before attempting to delete
				this category
			</b>
		</p>

		<div>
			<% video_games.forEach(video_game => {%>
			<p>
				<a href="<%= video_game.url %>"> <%= video_game.name %> </a>
			</p>
			<% }) %>
		</div>
	</div>
	<% } else { %>
	<div>
		<p>
			<b> Do you really want to delete this Category? </b>
		</p>

		<form method="POST" action="">
			<input
				type="hidden"
				name="categoryId"
				required="true"
				value="<%= category._id %>"
				class="form-control"
			/>
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</div>
	<% }%>
</div>

<%- include('../layout/footer') -%>
