<%- include('../layout/header') -%>

<div class="container" id="categoryListContainer">
	<div class="row">
		<div class="col">
			<div class="textIntroContainer">
				<h1 class="title"><%= title %></h1>

				<p>
					<a
						class="btn navigationButton ptSans"
						href="/home/category/create"
						>Create A New Category</a
					>
				</p>
			</div>

			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="gridDisplay">
				<% category_list.forEach(category => { %>
				<div class="card text-center cardItem" style="width: 18rem">
					<p><%- category.image_url %></p>
					<img
						src="<%- category.image_url %>"
						class="card-img-top categoryCardImage"
						alt="Image of Video Game"
					/>

					<div class="card-body consoleCard">
						<h5 class="card-title title"><%= category.name %></h5>

						<p>
							<a
								href="<%= category.url %>"
								class="btn ptSans navigationButton"
								>Check It Out</a
							>
						</p>
					</div>
				</div>
				<%}) %>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/footer') -%>
