<%- include('../layout/header') -%>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="textIntroContainer">
				<h1 class="title"><%= title %></h1>
			</div>

			<hr />

			<form method="POST" action="">
				<div class="mb-3">
					<label for="name" class="form-label"
						>Video Game Console Name</label
					>
					<input
						type="text"
						name="name"
						class="form-control"
						id="videoGameConsoleName"
						placeholder="PSP, Game Boy, etc."
						value="<%= (null === category || undefined === category) ? '' : category.name %>"
					/>
				</div>

				<div class="mb-3">
					<label for="description" class="form-label"
						>Video Game Console Description</label
					>
					<input
						type="text"
						name="description"
						class="form-control"
						id="videoGameConsoleDescription"
						placeholder="The PSP is ..."
						value="<%= (null === category || undefined === category) ? '' : category.description %>"
					/>
				</div>

				<div class="mb-3">
					<label for="image_url" class="form-label"
						>Video Game Console Image Url</label
					>
					<input
						type="text"
						name="image_url"
						class="form-control"
						id="videoGameConsoleImageUrl"
						placeholder=""
						value="<%- (null === category || undefined === category) ? '' : category.image_url %>"
					/>
				</div>

				<button type="submit" class="btn btn-success">Submit</button>
			</form>

			<%if (errors) { %>
			<div class="errorsContainer">
				<p>You got errors on the following:</p>
				<ul>
					<% errors.forEach(error => {%>

					<li>
						<%= error.msg %> on <%= error.param %>. The value <%=
						error.value === '' ? 'of empty field' : '' %> is not
						allowed
					</li>

					<% }) %>
				</ul>
			</div>
			<% }%>
		</div>
	</div>
</div>

<%- include('../layout/footer') -%>
